.border-kanan-transfer{
    width: 987px;
    height: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    border-radius: 25px;
    padding: 40px;
    font-family: 'Nunito Sans', sans-serif;
}

.transfer-title h2{
    font-weight: 700;
    font-size: 22px;
}

.transfer-detail h2{
    font-weight: 700;
    font-size: 22px;
}

.transfer-menu{
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    align-items: center;
    border-radius: 10px;
    height: 75px;
}

.transfer-menu-detail{
    background-color: white;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    align-items: center;
    border-radius: 10px;
    height: 65px;
}

.transfer-menu-detail p{
    font-size: 10px;
    opacity: 50%;
    font-weight: 600;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.transfer-menu-detail h2{
    font-weight: 700;
    font-size: 22px;
    padding-left: 10px;
    margin-top: 5px;
}

.menu-image{
    margin-left: 20px;
}

.menu-text{
    margin-left: 20px;
}
.menu-text p{
    margin: 0;
    color: black;
}

.btn-cont{
    text-align: right;
    margin-top: 70px;
}
#btnCont{
    width: 90px;
    height: 40px;
    background-color: #6379F4;
    border: none;
    color: white;
    border-radius: 10px;
}


/* bagian pop up confirm pin */

#confirmPin{
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}

.confirmPin-box{
    background-color: white;
    width: 50%;
    height: 50%;
    margin-left:25%;
    margin-top: 12%;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
}

.pin-title{
    display: flex;
    justify-content: space-between;
}
.pin-text h2{
    font-weight: 700;
    font-size: 25px;
}

.pin-text p{
    width: 60%;
    font-size: 15px;
    font-weight: 500;
}

#closeBtn{
    height: 10%;
    background: none;
    border: none;
    transition: 0.2s;
}
#closeBtn:hover{
    color: #6379F4;
}


.pin-form{
    display: flex;
    justify-content: space-evenly;
}
.form{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    font-weight: 700;
    font-size: 25px;
}

.form:focus{
    border-color: #6379F4;
}

.btn-pin{
    text-align: right;
    margin-top: 20px;
    margin-right: 25px;
}

#btnPin{
    width: 90px;
    height: 40px;
    background-color: #6379F4;
    border: none;
    color: white;
    border-radius: 10px;
}