* {
  margin: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.border-utama {
  height: 100%;
}
.first-border {
  height: 135%;
  display: flex;
}
.border-kiri {
  height: 100%;
  width: 60%;
}
.logo-text {
  margin-top: 40px;
  margin-left: 80px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #6379f4;
}
.article-text {
  margin-top: 10%;
  margin-left: 80px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  width: 50%;
  color: #3a3d42;
}
.article-text-time {
  color: #6379f4;
}
.article-text-second {
  margin-left: 80px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  width: 50%;
  color: #3a3d42;
}

.border-tryit {
  margin-left: 80px;
  margin-top: 30px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 auto;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgb(100 87 87 / 5%);
  border-radius: 10px;
  color: white;
  transition: all 1s ease;
}
.border-tryit:hover {
  cursor: pointer;
  transform: scale(1.1) translateY(-10px);
}
.text-tryit {
  text-decoration: none;
}
.border-kanan {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.border-login-regis {
  width: 100%;
  background-image: url(../Assets/KotakKanan.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.garis {
  width: 40%;
  position: absolute;
  top: 50px;
}
.gelombang {
  position: absolute;
  top: 50px;
  width: 40%;
  right: 0px;
}
.border-phone {
  width: 30%;
  height: 105%;
  position: absolute;
  top: 100px;
  right: 30px;
}
.phone {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../Assets/Phone.png);
}
.border-dalam-login-regis {
  display: flex;
  width: 90%;
  justify-content: end;
}
.border-login {
  margin-top: 30px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 auto;
  background: transparent;
  border: 1px solid white;
  box-shadow: 0px 6px 75px rgb(100 87 87 / 5%);
  border-radius: 10px;
  color: white;
  transition: all 1s ease;
}
.border-regis {
  margin-left: 25px;
  margin-top: 30px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: white;
  border: 1px solid white;
  box-shadow: 0px 6px 75px rgb(100 87 87 / 5%);
  border-radius: 10px;
  color: blue;
  transition: all 1s ease;
}

.border-login:hover,
.border-regis:hover {
  cursor: pointer;
  transform: scale(1.1) translateY(-5px);
}
.second-border {
  height: 100%;
  width: 100%;
  border: 1px black solid;
  background: rgba(71, 58, 209, 0.06);
}
.second-border-dalam {
  margin: 60px 100px 60px 100px;
  height: 90%;
}
.second-border-judul {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  text-align: center;
}
.text-about{
    color: #6379F4;
}
